<p id="notice"><%= notice %></p>

<h1>Listing Measurement Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Elements</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @measurement_categories.each do |measurement_category| %>
      <tr>
        <td><%= measurement_category.name %></td>
        <td><%= measurement_category.elements %></td>
        <td><%= link_to 'Show', measurement_category %></td>
        <td><%= link_to 'Edit', edit_measurement_category_path(measurement_category) %></td>
        <td><%= link_to 'Destroy', measurement_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Measurement category', new_measurement_category_path %>
