<%= form_for(@medicine) do |f| %>
  <% if @medicine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@medicine.errors.count, "error") %> prohibited this medicine from being saved:</h2>

      <ul>
      <% @medicine.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <table align="center">
    <tr>
      <td align="right">Sifra</td>
      <td align="left"><%= f.text_field :medicineNumber %></td>
    </tr>
    <tr>
      <td align="right">Ime</td>
      <td align="left"><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td align="right">V uporabi</td>
      <td align="left"><%= f.check_box :inUse, :checked => true %></td>
    </tr>
  </table>

  <div class="actions">
    <%= f.submit class: "btn btn-info", value: "Poslji" %>
  </div>

<% end %>
