<p id="notice"><%= notice %></p>

<p>
  <strong>Medicinenumber:</strong>
  <%= @medicine.medicineNumber %>
</p>

<p>
  <strong>Name:</strong>
  <%= @medicine.name %>
</p>

<p>
  <strong>Inuse:</strong>
  <%= @medicine.inUse %>
</p>

<%= link_to 'Edit', edit_medicine_path(@medicine) %> |
<%= link_to 'Back', medicines_path %>
