<%= form_for(@illness) do |f| %>
  <% if @illness.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@illness.errors.count, "error") %> prohibited this illness from being saved:</h2>

      <ul>
      <% @illness.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table align="center">
    <tr>
      <td align="right">Sifra</td>
      <td align="left"><%= f.text_field :illnessNumber, required: true %></td>
    </tr>
    <tr>
      <td align="right">Ime</td>
      <td align="left"><%= f.text_field :name, required: true %></td>
    </tr>
    <tr>
      <td align="right">Alergija</td>
      <td align="left"><%= f.check_box :isAllergy, required: true %></td>
    </tr>
    <% if admin_signed_in? %>
      <tr>
        <td align="right">Izbrisana</td>
        <td align="left"><%= f.collection_select(:deleted, %w(true false), :to_s, :to_s, {include_blank: false},{:multiple => false, required: true}) %></td>
      </tr>
    <% end %>
  </table>

  <div class="actions">
    <%= f.submit class: "btn btn-info", value: "Poslji" %>
  </div>
<% end %>
