<h1 style="text-align: center">Izbira zdravnika</h1>
<br/>
<%= render 'form' %>

<!--
Pacient:
<select id="pacient-select-pd">
  <%@patientsPD.each do |patient| %>
    <option value="<%=patient.id %>"><%=patient.firstName+" "+patient.lastName%></option>
  <%end%>
</select>
<br/>
Zdravnik:
<select id="doctor-select-pd">
  <%@doctorsPD.each do |doctor| %>
    <option value="<%=doctor.id %>"><%=doctor.firstName+" "+doctor.lastName%></option>
<%end%>
</select>
<br/>
Zobozdravnik:
<select id="dentist-select-pd">
  <%@dentistPD.each do |dentist| %>
      <option value="<%=dentist.id %>"><%=dentist.firstName+" "+dentist.lastName%></option>
  <%end%>
</select>
-->