<div class="text-center">
  <h2>Sprememba gesla</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <table align="center">

        <tr>
          <td align="right">Email:</td>
          <td align="left"><%= f.email_field :email, :readonly => true%></td>
        </tr>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
        <i>(Za potrditev novega geslo potrebujemo vase staro geslo)</i>
        <tr>
          <td align="right">Staro geslo:</td>
          <td align="left"><%= f.password_field :current_password, autocomplete: "off", autofocus: true  %></td>
        </tr>

        <tr>
          <td align="right">Novo geslo:</td>
          <td align="left"><%= f.password_field :password, autocomplete: "off" %></td>
        </tr>

        <tr>
          <td align="right">Ponovitev novega gesla:</td>
          <td align="left"><%= f.password_field :password_confirmation, autocomplete: "off" %></td>
        </tr>

      </table>


      <div class="actions">
        <%= f.submit "Poslji", class: "btn btn-info" %>
      </div>
  <% end %>

  <%= link_to "Nazaj", :back %>
</div>