<p id="notice"><%= notice %></p>

<h1>Listing Illness Checks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @illness_checks.each do |illness_check| %>
      <tr>
        <td><%= illness_check.name %></td>
        <td><%= link_to 'Show', illness_check %></td>
        <td><%= link_to 'Edit', edit_illness_check_path(illness_check) %></td>
        <td><%= link_to 'Destroy', illness_check, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Illness check', new_illness_check_path %>
