
<% if !(admin_signed_in? || user_signed_in? || doctor_signed_in? || nurse_signed_in?)%>
<div class="container">

  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
        <div class="avatar">
          <%= image_tag('user-icon.png')%>
        </div>
        <div class="content">
          <p><button type="button" class="btn btn-default" onclick="location.href = '<%= new_user_session_path %>';">Uporabnik</button></p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
        <div class="avatar">
          <%= image_tag('doctor-icon.png')%>
        </div>
        <div class="content">
          <p><button type="button" class="btn btn-default" onclick="location.href = '<%= new_doctor_session_path %>';">Zdravnik</button></p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
        <div class="avatar">
          <%= image_tag('nurse-icon.png')%>
        </div>
        <div class="content">
          <p><button type="button" class="btn btn-default" onclick="location.href = '<%= new_nurse_session_path %>';">Medicinska sestra</button></p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
        <div class="avatar">
          <%= image_tag('admin-icon.png')%>
        </div>
        <div class="content">
          <p><button type="button" class="btn btn-default" onclick="location.href = '<%= new_admin_session_path %>';">Administrator</button></p>
        </div>
      </div>
    </div>
  </div>
</div>
<% else %>
  <h1>
    Ce zelite na zacetno stran se izpisite!
  </h1>

<% end %>

