<%= form_for(@patient) do |p| %>

    <% if @patient.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

          <ul>
            <% @patient.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <table align="center">
      <tr>
        <td align="right">Sifra pacienta:</td>
        <td align="left"><%= p.text_field :cardNumber %></td>
      </tr>
      <tr>
        <td align="right">Priimek:</td>
        <td align="left"><%= p.text_field :lastName %></td>
      </tr>
      <tr>
        <td align="right">Ime:</td>
        <td align="left"><%= p.text_field :firstName %></td>
      </tr>
      <tr>
        <td align="right">Rojstni datum:</td>
        <td align="left"><%= p.date_select :birthDate, include_blank: true %></td>
      </tr>
      <tr>
        <td align="right">Spol</td>
        <td align="left"><%= p.text_field :sex %></td>
      </tr>
      <tr>
        <td align="right">Telefon:</td>
        <td align="left"><%= p.text_field :phone %></td>
      </tr>
    </table>

  <div class="actions">
    <%= p.submit class: "btn btn-success", value: "Poslji" %>
  </div>

<% end %>