<div class="text-center">
  <h1>Moji profili</h1><br>
</div>
<div class="panel panel-info">
  <!-- <div class="panel-heading">PACIENTI</div> -->
  <table class="table">
    <thead>
      <tr>
        <td class="column-name">#</td>
        <td class="column-name">Stevilka zdravstvenega zavarovanja</td>
        <td class="column-name">Ime</td>
        <td class="column-name">Priimek</td>
      </tr>
    </thead>
    <tbody>
      <% index = 0 %>
      <% @user.patients.each do |p| %>
        <% if !p.deleted %>
          <% index = index + 1 %>
          <tr>
            <td> <%= index %> </td>
            <td> <%= p.cardNumber %> </td>
            <td> <%= p.firstName %> </td>
            <td> <%= p.lastName %> </td>
            <td class="buttons">
              <%= link_to 'Uredi profil', edit_patient_path(id: p.id),
                          class: "btn btn-info btn-xs right-padding-link" %>

              <%= link_to 'Izbrisi profil', p, method: :delete,
                          class: "btn btn-danger btn-xs", data: { confirm: 'Ali ste prepricani?' } %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<br>

