<p id="notice"><%= notice %></p>

<p>
  <strong>Cardnumber:</strong>
  <%= @patient.cardNumber %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @patient.lastName %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @patient.firstName %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @patient.phone %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @patient.birthDate %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @patient.sex %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
