<%= form_for(@doctor) do |f| %>
  <% if @doctor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doctor.errors.count, "error") %> prohibited this doctor from being saved:</h2>

      <ul>
      <% @doctor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <table align="center">
      <tr>
        <td align="right">*Email:</td>
        <td>
          <%= f.text_field :email, :required => true, :type => 'email', :pattern => '([^@\s]+)@((?:[-a-z0-9]+\.)+[a-z]{2,})' %>
        </td>
      </tr>
      <tr>
        <td align="right">*Geslo:</td>
        <td>
          <%= f.text_field :password, :required => true, :type => 'password', :pattern => '(?=.*[a-zA-Z])(?=.*[0-9]).{6,40}' %>
        </td>
      </tr>
      <tr>
        <td align="right">Sifra zdravnika:</td>
        <td><%= f.text_field :doctorNumber %></td>
      </tr>
      <tr>
        <td align="right">Tip zdravnika:</td>
        <td><%= f.text_field :doctorType %></td>
      </tr>
      <tr>
        <td align="right">Priimek:</td>
        <td><%= f.text_field :lastName %></td>
      </tr>
      <tr>
        <td align="right">Ime:</td>
        <td><%= f.text_field :firstName %></td>
      </tr>
      <tr>
        <td align="right">Telefon:</td>
        <td><%= f.text_field :phone %></td>
      </tr>
      <tr>
        <td align="right">Najvecje stevilo pacientov:</td>
        <td><%= f.text_field :limitPatient %></td>
      </tr>
    </table>

  <div class="actions">
    <%= f.submit class: "btn btn-success", value: "Poslji" %>
  </div>

<% end %>
