<p id="notice"><%= notice %></p>
<div class="text-center">
  <p>
    <strong>Doctor number:</strong>
    <%= @doctor.doctorNumber %>
  </p>
  <p>
    <strong>Type:</strong>
    <%= @doctor.doctorType %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @doctor.email %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= @doctor.password %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= @doctor.lastName %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= @doctor.firstName %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= @doctor.phone %>
  </p>

  <p>
    <strong>Maximum number of patients:</strong>
    <%= @doctor.limitPatient %>
  </p>

  <%= link_to 'Edit', edit_doctor_path(@doctor) %> |
  <%= link_to 'Back', doctors_path %>
</div>