<%= form_for(@nurse) do |f| %>
  <% if @nurse.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nurse.errors.count, "error") %> prohibited this nurse from being saved:</h2>

      <ul>
      <% @nurse.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <table align="center">
      <tr>
        <td align="right">Sifra medicinkse sestre:</td>
        <td align="left"><%= f.text_field :nurseNumber %></td>
      </tr>
      <tr>
        <td align="right">Priimek:</td>
        <td align="left"><%= f.text_field :lastName %></td>
      </tr>
      <tr>
        <td align="right">Ime:</td>
        <td align="left"><%= f.text_field :firstName %></td>
      </tr>
      <tr>
        <td align="right">Telefon:</td>
        <td align="left"><%= f.text_field :phone %></td>
      </tr>
      <tr>
        <td align="right">Bolnisnica</td>
        <td align="left"><%= f.collection_select(:hospital_id, Hospital.all.order(:hospitalNumber), :id, :full_name ,{include_blank: true},{:multiple => false}) %></td>
      </tr>
    </table>

    <div class="actions">
      <%= f.submit class: "btn btn-info", value: "Poslji" %>
    </div>
<% end %>
