<p id="notice"><%= notice %></p>

<h1>Listing Diagnose Has Medicines</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @diagnose_has_medicines.each do |diagnose_has_medicine| %>
      <tr>
        <td><%= link_to 'Show', diagnose_has_medicine %></td>
        <td><%= link_to 'Edit', edit_diagnose_has_medicine_path(diagnose_has_medicine) %></td>
        <td><%= link_to 'Destroy', diagnose_has_medicine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Diagnose has medicine', new_diagnose_has_medicine_path %>
