<p id="notice"><%= notice %></p>

<p>
  <strong>Streetname:</strong>
  <%= @address.streetName %>
</p>

<p>
  <strong>Streetnumber:</strong>
  <%= @address.streetNumber %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
