<%= form_for(@measurement) do |f| %>
  <% if @measurement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@measurement.errors.count, "error") %> prohibited this measurement from being saved:</h2>

      <ul>
      <% @measurement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <!-- TODO build-i (v controllerju) doloceno stevilo elementov za doloceno meritev! -->
  <table align="center">
    <tr>
      <td align="right">Datum:</td>
      <td align="left"><%= f.date_select :date, include_blank: false, order: [:day, :month, :year], required: true,
                                         use_month_names: %w(Januar Februar Marec April Maj Junij Julij Avgust September Oktober November December) %></td>
    </tr>
    <%= f.fields_for :part_measurements do |p| %>
        <tr>
          <td align="right">Element meritve</td>
          <td align="left"><%= p.collection_select(:name, MeasurementType.where(deleted: false), :id, :name) %></td>
        </tr>
        <tr>
          <td align="right">Enota</td>
          <td align="left"><%= p.collection_select(:unit, %w(kg m), :to_s, :to_s,{include_blank: false},
                                                   {:multiple => false, required: true}) %></td>
        </tr>
        <tr>
          <td align="right">Kolicina:</td>
          <td align="left"><%= p.text_field :value, type: 'number', step: '0.01', required: true %></td>
        </tr>
        <% if user_signed_in? %>
          <%= p.fields_for :measurement_home do |h| %>
            <tr>
              <td align="right">Pacient:</td>
              <td align="left"><%= h.collection_select(:patient_id, Patient.where(user_id: current_user.id, deleted: false), :id, :full_name ,{include_blank: false},{:multiple => false}) %></td>
            </tr>
          <% end %>
        <% elsif doctor_signed_in? %>
            <%= p.fields_for :measurement_doc do |d| %>
                <tr>
                  <td align="right">Pregled:</td>                                                            <!-- TODO dodaj deleted v bazo in sem -->
                  <td align="left"><%= d.collection_select(:check_up_id, CheckUp.where(doctor_id: current_doctor.id), :id, :full_name ,{include_blank: false},{:multiple => false}) %></td>
                </tr>
            <% end %>
        <% elsif admin_signed_in? %>
            <p>Meritev naj ne dela adminstrator, ker potem manjkajo podatki</p>
        <% end %>
    <% end %>
  </table>

  <div class="actions">
    <%= f.submit class: "btn btn-info", value: "Poslji" %>
  </div>
<% end %>