<%= form_for(@part_measurement) do |f| %>
  <% if @part_measurement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@part_measurement.errors.count, "error") %> prohibited this part_measurement from being saved:</h2>

      <ul>
      <% @part_measurement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table align="center">
    <% if user_signed_in? %>
      <tr>
        <td align="right">Meritev:</td>
        <%= puts current_user.id %>
        <td align="left"><%= f.collection_select(:measurement_id, Measurement.where(id: PartMeasurement.where(id: MeasurementHome.where(id: current_user.get_patients_ids).part_measurement_id).measurement_id), :id, :date ,{include_blank: false},{:multiple => false}) %></td>
      </tr>
    <% elsif doctor_signed_in? %>
      <tr>
        <td align="right">Meritev:</td>
        <td align="left"><%= f.collection_select(:measurement_id, Measurements.find(PartMeasurement.find(MeasurementDocs.find(current_doctor.id).part_measurement_id).measurement_id).where(deleted: false), :id, :date ,{include_blank: false},{:multiple => false}) %></td>
      </tr>
    <% end %>
    <tr>
      <td align="right">Ime:</td>
      <td align="left"><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td align="right">Enota:</td>
      <td align="left"><%= f.text_field :unit %></td>
    </tr>
    <tr>
      <td align="right">Kolicina:</td>
      <td align="left"><%= f.text_field :value %></td>
    </tr>


  </table>

  <div class="actions">
    <%= f.submit class: "btn btn-info", value: "Poslji" %>
  </div>
<% end %>
