<p id="notice"><%= notice %></p>

<p>
  <strong>Postname:</strong>
  <%= @post.postName %>
</p>

<p>
  <strong>Postnumber:</strong>
  <%= @post.postNumber %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
