<%= form_for(@check_up) do |f| %>
    <% if @check_up.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@check_up.errors.count, "error") %> prohibited this check_up from being saved:</h2>

          <ul>
            <% @check_up.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-box">
        Datum:
        <%= f.date_select :date, include_blank: false, order: [:day, :month, :year], required: true,
                                           use_month_names: %w(Januar Februar Marec April Maj Junij Julij Avgust September Oktober November December), :class => "form-control" %>
        <div >
          Pacient:
          <%= f.collection_select(:patient_id, Patient.where(deleted: false).order(:lastName,:firstName), :id, :full_name ,{include_blank: false},{:multiple => false, :class => "form-control"}) %>
        </div >

      <%= f.hidden_field :doctor_id, :value => current_doctor.id %>


        Diete:

          <div class="cloneable-unselected form-inlay">
            <%= f.collection_select(:diet_ids, Diet.where(deleted: false).order(:name), :id, :name, {include_blank: true}, {:class => "check_up_diet_ids form-control",:onchange => 'cloneDropdown(this);'})%>
            <button  class = "btn btn-danger btn-xs" onclick="removeElement(this.parentNode);">Odstrani</button>
          </div>

        <!--%= f.collection_check_boxes(:diet_ids, Diet.all, :id, :name) %-->

    </div>


    <div id="kloni">
      <div class="form-box cloneable" hidden >
        Bolezen ali alergija:
        <div class="cloneable-unselected">
          <%= f.collection_select(:illness_ids, Illness.where(deleted: false).order(:name), :id, :name,{include_blank: true}, {:class => "check_up_illness_ids form-control",:onchange => 'dirtyHack(this);'})%>
          <!--button  class = "btn btn-danger btn-xs" onclick="removeElement(this.parentNode);">Odstrani</button-->
        </div>

        <div>
          Zdravila:
          <div class="cloneable-unselected bolezni form-inlay">
            <%= f.grouped_collection_select(:medicine_ids, Illness.where(deleted: false).order(:name),:medicines,:name, :id, :name ,{include_blank: true},{:class => "check_up_medicine_ids form-control",:onchange => 'cloneDropdown(this);'}) %>
            <button class = "btn btn-danger btn-xs" onclick="removeElement(this.parentNode);">Odstrani</button>
          </div>
        </div>
        <br>
        <div align="center">
          <button class = "btn btn-danger btn-xs" onclick="removeElement(this.parentNode.parentNode);">Odstrani</button>
        </div>
        <br>
        <br>
        <!--button class ="btn btn-secondary btn-xs" type="button" onclick="cloneDiv(this.parentNode.parentNode); this.classList.add('hide'); ">Dodaj bolezen</button-->
      </div>
      <div align="center">
        <button class ="btn btn-info btn-sm long" type="button" onclick="cloneDiv(this.parentNode.parentNode); ">Dodaj bolezen in zdravila</button>
      </div>
    </div>



    <br>
    <!--polja za measurement k jih zdej nerabmo-->
    <!--%= f.fields_for :measurements do |m| %-->
    <!--button id="btn<!--%=m.index %>" type="button" class="btn btn-secondary btn-xs long" onclick="document.getElementById('<!--%=m.index %>').classList.remove('hide'); this.classList.add('hide');">Dodaj meritev <!--%= @headers[m.index]%></button><br-->
    <!--div id="<!--%=m.index %>" class="hide"-->
    <!--h3 class="inline"><!--%= @headers[m.index]%></h3-->
    <!--button type="button" class = "btn btn-danger btn-xs" onclick="document.getElementById('btn<!--%=m.index %>').classList.remove('hide'); this.parentNode.classList.add('hide')">Odstrani meritev</button-->
    <!--%= render 'measurement_fields', :f => m %-->
    <!--/div-->
    <!--br-->
    <!--% end %-->

    <div align =center>
      <% MeasurementCategory.where(deleted: false).each do |m| %>
          <% if m.elements > 0 %>
              <%= link_to_add_fields "Dodajanje meritve #{m.name}", f, m.name, :measurement_docs %>
              <br>
              <br>
          <% end %>
      <% end %>
    </div>
    <div class="form-box opombe">
      Opombe:
      <%= f.text_area :opombe, {:class => "form-control resizable-textarea", :rows =>  "3"} %>
    </div>
    <br>



    <div class="actions" align="center">
      <%= f.submit class: "btn btn-info", value: "Poslji" %>
    </div>


<% end %>