<%= form_for(@check_up) do |f| %>
  <% if @check_up.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@check_up.errors.count, "error") %> prohibited this check_up from being saved:</h2>

      <ul>
      <% @check_up.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table align="center">
    <tr>
      <td align="right">Datum:</td>
      <td align="left"><%= f.date_select :date, include_blank: true %></td>
    </tr>
    <tr>
      <td align="right">Pacient</td>
      <td align="left"><%= f.collection_select(:patient_id, Patient.where(deleted: false), :id, :full_name ,{include_blank: true},{:multiple => false}) %></td>
    </tr>
    <tr>
      <td align="right">Zdravnik</td>
      <td align="left"><%= f.collection_select(:doctor_id, Doctor.where(deleted: false), :id, :full_name ,{include_blank: true},{:multiple => false}) %></td>
    </tr>
  </table>
  <div class="actions">
    <%= f.submit class: "btn btn-info", value: "Poslji" %>
  </div>
<% end %>
