<p id="notice"><%= notice %></p>

<h1>Listing Medicine Instructions</h1>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @medicine_instructions.each do |medicine_instruction| %>
      <tr>
        <td><%= medicine_instruction.url %></td>
        <td><%= link_to 'Show', medicine_instruction %></td>
        <td><%= link_to 'Edit', edit_medicine_instruction_path(medicine_instruction) %></td>
        <td><%= link_to 'Destroy', medicine_instruction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Medicine instruction', new_medicine_instruction_path %>
